RewriteEngine On

# Empêche le listing de dossiers
Options -Indexes

# Redirection vers public
RewriteRule ^$ sahp/public/ [L,R=301]

# Tout le reste vers public
RewriteCond %{REQUEST_URI} !^/sahp/public/
RewriteRule ^(.*)$ sahp/public/$1 [L]
